--extra-index-url https://download.pytorch.org/whl/cu118
transformers
torch
torchvision
numpy
pillow
einops
sentencepiece
protobuf
aime_api_worker_interface @ git+https://github.com//aime-team/aime-api-worker-interface